*.iml
.idea/
.mojito/
.sass-cache/
application.pid
npm-debug.log
*.releaseBackup
release.properties
**/nb-configuration.xml
**/.DS_Store
.vscode/

/.java-version
/cli/performance/
/cli/target/
/cli/nbproject/
/chromeextension/ict-popup-bundle.js
/chromeextension/ict-bundle.js
/chromeextension/img/
/chromeextension/fonts/
/common/target/
/docker/.data
/docs/.jekyll-cache/
/docs/_site/
/local/
/mavenplugin/target/
/target/
/tmp/
/test-common/target/
/restclient/target/
/webapp/node
/webapp/node_modules
/webapp/src/main/frontend-v1/node
/webapp/src/main/frontend-v1/node_modules
/webapp/src/main/frontend-v2/node
/webapp/src/main/frontend-v2/node_modules
/webapp/src/main/resources/new/js/bundle.min.js
/webapp/nbproject/
/webapp/Demo/
/webapp/src/main/resources/static/assets/index*.css
/webapp/src/main/resources/static/assets/index*.js
/webapp/src/main/resources/templates/webapp-ts/index.html
/webapp/target/
/webapp-ts/node/**
/webapp-ts/node_modules/**
/webapp-ts/dist