.card {
  padding: 2em;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-0 {
  margin: 0;
}

.d-none {
  display: none;
}

.ant-collapse >.ant-collapse-item >.ant-collapse-header {
  align-items: center;
}

.navbar {
  flex-grow: 1;
  border: 0;
}

.avatar-container {
  padding: 0 0rem;
}

.nav-container {
  border-bottom: 1px solid #F0F0F0
}