.card {
  padding: 2em;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-0 {
  margin: 0;
}

.d-none {
  display: none;
}

.ant-collapse >.ant-collapse-item >.ant-collapse-header {
  align-items: center;
}
