.branch-header {
    font-size: 2rem;
}

.m-1 {
    margin: 1rem;
}

.chart-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
}

.doughnut-chart-container {
    min-width: 20rem;
    max-height: 22.5rem;
}

.bar-chart-container {
    position: relative;
    max-height: 22.5rem;
    flex-basis: 40rem;
}

.expanded-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.expanded-content p {
    padding: 0;
    margin: 0;
}

.expanded-content .comment {
    font-style: italic;
    color: #a1a1a1;
}