name: Run JS tests - Ubuntu + Java 21

on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 21
      - name: Maven install, test skipped
        run: mvn clean install -DskipTests
      - name: Frontend Tests
        run: npm test
        working-directory: ./webapp/src/main/frontend
      - name: Frontend v2 Tests
        run: npm test
        working-directory: ./webapp/src/main/frontend-v2
